name: Sync And Deploy to Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-to-server:
    environment:
      name: production
      # This automatically sets the deployment status URL on success
      url: ${{ secrets.PRODUCTION_URL }}

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository code
      uses: actions/checkout@v3
      
    - name: Run Remote Deployment Script
      uses: appleboy/ssh-action@v1.0.1
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          /bin/bash /scripts/SignAI-SFS/deploy.sh
